*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* Global Styling */
$white: #ffffff;
$purple: #9791D6;
$claret: #D6183E;
$light-gray: #f5f6fa;
$dark-blue: #0F1928;
$red-gradient: linear-gradient(#ff4b2b 0%, #d6183e 100%);
h1{
  font-family: Montserrat, arial, serif;
  font-size: 65px;
  color: $white;
}
h2{
  font-family: Montserrat, arial, serif;
  font-size: 40px;
  color: $white;
  text-transform: uppercase;
}
h3{
  font-family: Montserrat, arial, serif;
  font-size: 30px;
  color: $white;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
p{
  font-size: 16px;
  font-family: Montserrat, arial, serif;
  color: $white;
}
.container{
  max-width: 1080px;
  margin: 0 auto;
}
.button{
  width: 160px;
  height: 40px;
  border-radius: 7px;
  background: $red-gradient;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: $white;
  font-family: Montserrat, arial, serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all .2s ease-in-out;
}
.button:hover{
  position: relative;
  transform: translateY(-5px);
}
.top-svg{
  position: absolute;
  left: -50px;
  top: -50px;
  width: 900px;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none
}
.link{
  position: relative;
  font-size: 15px;
  color: $white;
  text-decoration: none;
  font-family: Montserrat, Arial, Calibri, serif;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
}
.link-ltr::before {
  transition: 250ms;
  height: 4px;
  content: "";
  position: absolute;
  top: 20px;
  background-color: $claret;
}
.link-ltr::before {
  width: 0;
  bottom: 10px;
}
.link-ltr:hover::before {
  width: 100%;
}

/* End of Global Styling */

#header{
  height: 100vh;
  width: 100%;
  background: url(../img/header.svg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  .top-svg{
    position: fixed;
    top: -40px;
    z-index: 2;
  }
  .navigation{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 20px 0 173px;
    z-index: 2;
    .nav-links{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 15px;
      .logo{
        margin-right: 15px;
      }
    }
    .link-active{
      display: block;
    }
    .hamburger{
      .hamburger-icon{
        visibility: hidden;
        font-size: 40px;
        color: #FFF;
        cursor: pointer;
      }
    }
  }
  .container-header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1080px;
    .row {
      padding: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .heading{
        max-width: 500px;
        padding: 0 25px;
        .about-code{
          padding: 25px 0;
          .code{
            margin: 0;
            font-size: 16px;
            font-family: Montserrat;
          }
          .class-comment{
            color: #8A653B;
            position: relative;
            top: -10px;
          }
          .class-name{
            color: #FFC66D;
            .class-dot{
              color: #A9B7C6;
            }
          }
          .class-attribute{
            color: #A9B7C6;
          }
          .class-attribute:nth-child(2){
            margin-left: 5px;
          }
          .class-attribute:nth-child(3){
            margin-left: 15px;
          }
          .class-value{
            color: #A8C023;
          }
        }
        .white-span{
          font-family: Montserrat;
          color: #FFF;
          margin: 0 2px;
        }
        a:nth-of-type(2){
          color: $white;
          text-decoration: none;
          border-bottom: 3px solid $purple;
          font-family: Montserrat, arial, serif;
        }
      }
      .heading-img{
        img {
          width: 100%;
          max-width: 400px;
          height: auto;
          padding:25px;
        }
      }
    }
  }
}
#about{
  padding: 50px;
  background: $dark-blue;
  .container {
    h2{
      text-align: center;
    }
    .about-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 50px;
      .about-column{
        display: flex;
        align-items: center;
        width: 50%;
        .about-info{
          display: flex;
          align-items: center;
          flex-direction: column;
          border-right: 4px solid $claret;
          padding-right: 50px;
          .img-bg{
            width: 222px;
            height: 222px;
            background: #fff;
            border: 1px solid #707070;
            border-radius: 100%;
          }
          p{
            text-align: justify;
            padding-top: 10px;
          }
        }
        .about-technologies {
          margin-left: 50px;
          .grid {
            display: grid;
            grid-gap: 10px;
          }
          .span-col-2 {
            grid-column: span 2 / auto;
          }
          .col {
            ul {
              list-style-type: none;
            }
            li {
              color: $white;
              font-family: Montserrat, arial, serif;
              text-transform: uppercase;
              img {
                height: 16px;
                width: 16px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#projects{
  position: relative;
  h2{
    position: relative;
    top: -5px;
    left: 300px;
    z-index: 1;
    width: 220px;
  }
  .projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;
    background: $white;
    overflow-x: hidden;
    .project-img{
      width: 50%;
      height: auto;
      img{
        width: 100%;
        height: auto;
        box-shadow: 11px 20px 20px rgba(0, 0, 0, 0.16);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
    .project-img:hover{
      position: relative;
      transform: scale(1.02);
    }
    .project-info{
      align-items: center;
      width: 50%;
      margin: 0 0 0 50px;
      padding-right: 20px;
      .button{
        box-shadow: 7px 8px 1px rgba(0, 0, 0, 0.16);
      }
      .circle-nr{
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: $red-gradient;
        filter: drop-shadow(4px 3px 9px rgba(0, 0, 0, 0.16));
        border-radius: 100%;
        margin-right: 10px;
        .nr{
          -webkit-box-align:center;
          -webkit-box-pack:center;
          display:-webkit-box;
          color: $white;
          font-family: Montserrat, arial, serif;
          font-size: 30px;
        }
      }
      h3{
        display: inline;
        color: $dark-blue;
      }
      p{
        color: $dark-blue;
        margin: 50px 0 50px 0;
      }
    }
  }
  .projects-container:nth-child(even){
    flex-direction: row-reverse;
    .project-img{
      margin-left: 25px;
      img{
        border-radius: 25px 0 0 25px;
      }
    }
  }
  .projects-container:nth-of-type(1) {
    margin-top: 100px;
  }
  .github-container{
    padding: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .github-link{
      a{
        text-decoration: none;
        color: $dark-blue;
        font-family: Montserrat, Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
        margin-left: 20px;
        position: relative;
      }
      a::before {
        transition: 250ms;
        height: 4px;
        content: "";
        position: absolute;
        top: 33px;
        background-color: $claret;
      }
      a::before {
        width: 0;
        bottom: 10px;
      }
      a:hover::before {
        width: 100%;
      }
    }
  }
}

#contact{
  background-color: $dark-blue;
  position: relative;
  padding: 0 50px 50px 50px;
  h2{
    position: relative;
    top: -5px;
    left: 300px;
    z-index: 1;
    width: 220px;
    color: $dark-blue;
  }
  .contact-form-container{
    max-width: 1080px;
    margin: 150px auto 0;
    display: flex;
    .form{
      padding-right: 25px;
      border-right: 4px solid $claret;
      width: 50%;
      form{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        input{
          text-transform: uppercase;
        }
        input, textarea{
          margin-bottom: 20px;
          padding: 20px 20px;
          background: #eee;
          border: 3px solid #d6183e;
          border-radius: 10px;
          resize: none;
          font-family: Montserrat;
        }
        input[type=submit]{
          font-family: Montserrat, arial, serif;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          background: $red-gradient;
          width: 130px;
          border: none;
          padding: 10px;
          color: $white;
          cursor: pointer;
          margin: 0;
        }
        .submit-container{
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .social-media{
      padding-left: 25px;
      .social-media-item{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .circle{
          position: relative;
          height: 60px;
          width: 60px;
          background: $white;
          border-radius: 100%;
          img{
            position: absolute;
            top: 10px;
            left: 10px;
            height: 40px;
          }
        }
        a{
          color: $white;
          text-decoration: none;
          font-family: Montserrat;
          text-transform: uppercase;
          margin-left: 10px;
        }
      }
    }
  }
}

#footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  background-color: $claret;
  a{
    text-decoration: none;
    color: $white;
    font-size: 14px;
    font-family: Montserrat, Arial, serif;
  }
}
@media only screen and (max-width: 950px){
  #header, #projects, #contact {
    .top-svg {
      display: none;
    }
  }
  #projects, #contact{
    h2{
      margin-top: 20px;
      position: inherit;
      text-align: center;
      color: $dark-blue;
      width: 100%;
      left: 0;
    }
  }
  #contact{
    h2{
      color: $white;
      padding-top: 20px !important;
    }
  }
  .navigation{
    background: $dark-blue;
    width: 100%;
    margin: 0 !important;
    padding: 20px;
    flex-direction: column-reverse;
    .nav-links{
      margin: 0 auto;
      flex-direction: column;
      top: 0 !important;
      .logo{
        display: none;
      }
      .link{
        display: none;
        margin: 20px;
      }
    }
    .hamburger{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-right: 130px;
      .hamburger-icon{
        visibility: visible !important;
      }
    }
  }
  #about{
    padding: 10px !important;
    h2{
      padding: 25px 0 0 0;
    }
    .about-container{
      flex-wrap: wrap;
      flex-direction: column !important;
      align-items: center;
      .about-column{
        justify-content: center;
        width: 100% !important;
      }
      .about-info{
        border-bottom: 4px solid $claret;
        border-right: none !important;
        padding: 0 0 25px 0 !important;
      }
      .about-technologies{
        padding: 25px 0 0 0;
        margin: 0 !important;
        h3{
          text-align: center;
        }
        .col{
          margin: 20px 0;
        }
      }
    }
  }
  #projects{
    padding: 15px 0;
    .projects-container{
      padding: 20px 0 !important;
      flex-direction: column !important;
      h3{
        text-align: center;
      }
      .project-img{
        width: 80% !important;
        padding-bottom: 25px;
        img{
          border-radius: 25px !important;
        }
      }
      .project-info{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        margin: 0 !important;
        padding: 0;
        width: 80%;
        text-align: justify;
        .circle-nr{
          height: 25px;
          width: 25px;
          margin: 10px;
          .nr{
            font-size: 1.2rem;
          }
        }
        p{
          margin: 20px !important;
        }
      }
    }
    .projects-container:nth-child(even){
      .project-img{
        margin: 0 !important;
      }
    }
    .projects-container:nth-of-type(1){
      margin-top: 0 !important;
    }
    .github-container{
      .github-logo{
        img{
          height: 75px;
        }
      }
    }
  }
  .contact-form-container{
    margin: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
    .container-header {
    .row{
      .heading{
        width: 100%;
      }
      .heading-img{
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 650px){
  .contact-form-container{
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
    .form{
      border-right: none !important;
      padding-right: 0 !important;
      width: 100% !important;
    }
    .social-media{
      padding: 0 0 20px 0 !important;
    }
  }
}

/* responsive text */
@media only screen and (max-width: 650px){
  p,li,a,ul,.link{
    font-size: 0.8rem;
  }
  h3{
    font-size: 1.5rem;
  }
}
