* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Global Styling */
h1 {
  font-family: Montserrat, arial, serif;
  font-size: 65px;
  color: #ffffff;
}

h2 {
  font-family: Montserrat, arial, serif;
  font-size: 40px;
  color: #ffffff;
  text-transform: uppercase;
}

h3 {
  font-family: Montserrat, arial, serif;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-family: Montserrat, arial, serif;
  color: #ffffff;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 7px;
  background: linear-gradient(#ff4b2b 0%, #d6183e 100%);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Montserrat, arial, serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s ease-in-out;
}

.button:hover {
  position: relative;
  transform: translateY(-5px);
}

.top-svg {
  position: absolute;
  left: -50px;
  top: -50px;
  width: 900px;
  z-index: 1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.link {
  position: relative;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  font-family: Montserrat, Arial, Calibri, serif;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
}

.link-ltr::before {
  transition: 250ms;
  height: 4px;
  content: "";
  position: absolute;
  top: 20px;
  background-color: #D6183E;
}

.link-ltr::before {
  width: 0;
  bottom: 10px;
}

.link-ltr:hover::before {
  width: 100%;
}

/* End of Global Styling */
#header {
  height: 100vh;
  width: 100%;
  background: url(../img/header.svg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#header .top-svg {
  position: fixed;
  top: -40px;
  z-index: 2;
}
#header .navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px 0 173px;
  z-index: 2;
}
#header .navigation .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;
}
#header .navigation .nav-links .logo {
  margin-right: 15px;
}
#header .navigation .link-active {
  display: block;
}
#header .navigation .hamburger .hamburger-icon {
  visibility: hidden;
  font-size: 40px;
  color: #FFF;
  cursor: pointer;
}
#header .container-header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
}
#header .container-header .row {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .container-header .row .heading {
  max-width: 500px;
  padding: 0 25px;
}
#header .container-header .row .heading .about-code {
  padding: 25px 0;
}
#header .container-header .row .heading .about-code .code {
  margin: 0;
  font-size: 16px;
  font-family: Montserrat;
}
#header .container-header .row .heading .about-code .class-comment {
  color: #8A653B;
  position: relative;
  top: -10px;
}
#header .container-header .row .heading .about-code .class-name {
  color: #FFC66D;
}
#header .container-header .row .heading .about-code .class-name .class-dot {
  color: #A9B7C6;
}
#header .container-header .row .heading .about-code .class-attribute {
  color: #A9B7C6;
}
#header .container-header .row .heading .about-code .class-attribute:nth-child(2) {
  margin-left: 5px;
}
#header .container-header .row .heading .about-code .class-attribute:nth-child(3) {
  margin-left: 15px;
}
#header .container-header .row .heading .about-code .class-value {
  color: #A8C023;
}
#header .container-header .row .heading .white-span {
  font-family: Montserrat;
  color: #FFF;
  margin: 0 2px;
}
#header .container-header .row .heading a:nth-of-type(2) {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 3px solid #9791D6;
  font-family: Montserrat, arial, serif;
}
#header .container-header .row .heading-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 25px;
}

#about {
  padding: 50px;
  background: #0F1928;
}
#about .container h2 {
  text-align: center;
}
#about .container .about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}
#about .container .about-container .about-column {
  display: flex;
  align-items: center;
  width: 50%;
}
#about .container .about-container .about-column .about-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 4px solid #D6183E;
  padding-right: 50px;
}
#about .container .about-container .about-column .about-info .img-bg {
  width: 222px;
  height: 222px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 100%;
}
#about .container .about-container .about-column .about-info p {
  text-align: justify;
  padding-top: 10px;
}
#about .container .about-container .about-column .about-technologies {
  margin-left: 50px;
}
#about .container .about-container .about-column .about-technologies .grid {
  display: grid;
  grid-gap: 10px;
}
#about .container .about-container .about-column .about-technologies .span-col-2 {
  grid-column: span 2/auto;
}
#about .container .about-container .about-column .about-technologies .col ul {
  list-style-type: none;
}
#about .container .about-container .about-column .about-technologies .col li {
  color: #ffffff;
  font-family: Montserrat, arial, serif;
  text-transform: uppercase;
}
#about .container .about-container .about-column .about-technologies .col li img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

#projects {
  position: relative;
}
#projects h2 {
  position: relative;
  top: -5px;
  left: 300px;
  z-index: 1;
  width: 220px;
}
#projects .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0 50px 0;
  background: #ffffff;
  overflow-x: hidden;
}
#projects .projects-container .project-img {
  width: 50%;
  height: auto;
}
#projects .projects-container .project-img img {
  width: 100%;
  height: auto;
  box-shadow: 11px 20px 20px rgba(0, 0, 0, 0.16);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#projects .projects-container .project-img:hover {
  position: relative;
  transform: scale(1.02);
}
#projects .projects-container .project-info {
  align-items: center;
  width: 50%;
  margin: 0 0 0 50px;
  padding-right: 20px;
}
#projects .projects-container .project-info .button {
  box-shadow: 7px 8px 1px rgba(0, 0, 0, 0.16);
}
#projects .projects-container .project-info .circle-nr {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(#ff4b2b 0%, #d6183e 100%);
  filter: drop-shadow(4px 3px 9px rgba(0, 0, 0, 0.16));
  border-radius: 100%;
  margin-right: 10px;
}
#projects .projects-container .project-info .circle-nr .nr {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  color: #ffffff;
  font-family: Montserrat, arial, serif;
  font-size: 30px;
}
#projects .projects-container .project-info h3 {
  display: inline;
  color: #0F1928;
}
#projects .projects-container .project-info p {
  color: #0F1928;
  margin: 50px 0 50px 0;
}
#projects .projects-container:nth-child(even) {
  flex-direction: row-reverse;
}
#projects .projects-container:nth-child(even) .project-img {
  margin-left: 25px;
}
#projects .projects-container:nth-child(even) .project-img img {
  border-radius: 25px 0 0 25px;
}
#projects .projects-container:nth-of-type(1) {
  margin-top: 100px;
}
#projects .github-container {
  padding: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .github-container .github-link a {
  text-decoration: none;
  color: #0F1928;
  font-family: Montserrat, Arial, serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative;
}
#projects .github-container .github-link a::before {
  transition: 250ms;
  height: 4px;
  content: "";
  position: absolute;
  top: 33px;
  background-color: #D6183E;
}
#projects .github-container .github-link a::before {
  width: 0;
  bottom: 10px;
}
#projects .github-container .github-link a:hover::before {
  width: 100%;
}

#contact {
  background-color: #0F1928;
  position: relative;
  padding: 0 50px 50px 50px;
}
#contact h2 {
  position: relative;
  top: -5px;
  left: 300px;
  z-index: 1;
  width: 220px;
  color: #0F1928;
}
#contact .contact-form-container {
  max-width: 1080px;
  margin: 150px auto 0;
  display: flex;
}
#contact .contact-form-container .form {
  padding-right: 25px;
  border-right: 4px solid #D6183E;
  width: 50%;
}
#contact .contact-form-container .form form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
#contact .contact-form-container .form form input {
  text-transform: uppercase;
}
#contact .contact-form-container .form form input, #contact .contact-form-container .form form textarea {
  margin-bottom: 20px;
  padding: 20px 20px;
  background: #eee;
  border: 3px solid #d6183e;
  border-radius: 10px;
  resize: none;
  font-family: Montserrat;
}
#contact .contact-form-container .form form input[type=submit] {
  font-family: Montserrat, arial, serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(#ff4b2b 0%, #d6183e 100%);
  width: 130px;
  border: none;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
}
#contact .contact-form-container .form form .submit-container {
  display: flex;
  justify-content: flex-end;
}
#contact .contact-form-container .social-media {
  padding-left: 25px;
}
#contact .contact-form-container .social-media .social-media-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#contact .contact-form-container .social-media .social-media-item .circle {
  position: relative;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border-radius: 100%;
}
#contact .contact-form-container .social-media .social-media-item .circle img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
}
#contact .contact-form-container .social-media .social-media-item a {
  color: #ffffff;
  text-decoration: none;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-left: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  background-color: #D6183E;
}
#footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: Montserrat, Arial, serif;
}

@media only screen and (max-width: 950px) {
  #header .top-svg, #projects .top-svg, #contact .top-svg {
    display: none;
  }

  #projects h2, #contact h2 {
    margin-top: 20px;
    position: inherit;
    text-align: center;
    color: #0F1928;
    width: 100%;
    left: 0;
  }

  #contact h2 {
    color: #ffffff;
    padding-top: 20px !important;
  }

  .navigation {
    background: #0F1928;
    width: 100%;
    margin: 0 !important;
    padding: 20px;
    flex-direction: column-reverse;
  }
  .navigation .nav-links {
    margin: 0 auto;
    flex-direction: column;
    top: 0 !important;
  }
  .navigation .nav-links .logo {
    display: none;
  }
  .navigation .nav-links .link {
    display: none;
    margin: 20px;
  }
  .navigation .hamburger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 130px;
  }
  .navigation .hamburger .hamburger-icon {
    visibility: visible !important;
  }

  #about {
    padding: 10px !important;
  }
  #about h2 {
    padding: 25px 0 0 0;
  }
  #about .about-container {
    flex-wrap: wrap;
    flex-direction: column !important;
    align-items: center;
  }
  #about .about-container .about-column {
    justify-content: center;
    width: 100% !important;
  }
  #about .about-container .about-info {
    border-bottom: 4px solid #D6183E;
    border-right: none !important;
    padding: 0 0 25px 0 !important;
  }
  #about .about-container .about-technologies {
    padding: 25px 0 0 0;
    margin: 0 !important;
  }
  #about .about-container .about-technologies h3 {
    text-align: center;
  }
  #about .about-container .about-technologies .col {
    margin: 20px 0;
  }

  #projects {
    padding: 15px 0;
  }
  #projects .projects-container {
    padding: 20px 0 !important;
    flex-direction: column !important;
  }
  #projects .projects-container h3 {
    text-align: center;
  }
  #projects .projects-container .project-img {
    width: 80% !important;
    padding-bottom: 25px;
  }
  #projects .projects-container .project-img img {
    border-radius: 25px !important;
  }
  #projects .projects-container .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding: 0;
    width: 80%;
    text-align: justify;
  }
  #projects .projects-container .project-info .circle-nr {
    height: 25px;
    width: 25px;
    margin: 10px;
  }
  #projects .projects-container .project-info .circle-nr .nr {
    font-size: 1.2rem;
  }
  #projects .projects-container .project-info p {
    margin: 20px !important;
  }
  #projects .projects-container:nth-child(even) .project-img {
    margin: 0 !important;
  }
  #projects .projects-container:nth-of-type(1) {
    margin-top: 0 !important;
  }
  #projects .github-container .github-logo img {
    height: 75px;
  }

  .contact-form-container {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 800px) {
  .container-header .row .heading {
    width: 100%;
  }
  .container-header .row .heading-img {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .contact-form-container {
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
  }
  .contact-form-container .form {
    border-right: none !important;
    padding-right: 0 !important;
    width: 100% !important;
  }
  .contact-form-container .social-media {
    padding: 0 0 20px 0 !important;
  }
}
/* responsive text */
@media only screen and (max-width: 650px) {
  p, li, a, ul, .link {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
